{% extends 'error/base.html.twig' %}

{% block title %}Server error - BTCrack{% endblock %}

{% block error_class %}500{% endblock %}

{% block error_code %}500{% endblock %}

{% block error_title %}Internal Server Error{% endblock %}

{% block error_description %}
    An internal error occurred on the server. Our technical team has been notified 
    and is working to resolve the issue. Please try again in a few minutes.
{% endblock %}

{% block error_help %}
    <h3>What does 500 Internal Server Error mean?</h3>
    <p>
        The server encountered an unexpected condition that prevented it from fulfilling the request. This is
        usually a bug or an unhandled exception on the server side.
    </p>
{% endblock %}

{% block error_actions %}
    <a href="{{ path('app_tickets_index') }}" class="btn btn-primary">Back to home</a>
    <a href="javascript:history.back()" class="btn">Previous page</a>
    <a href="javascript:location.reload()" class="btn">Reload page</a>
{% endblock %}
