{% extends 'error/base.html.twig' %}

{% block title %}Service indisponible - BTCrack{% endblock %}

{% block error_class %}503{% endblock %}

{% block error_code %}503{% endblock %}

{% block error_title %}Service temporairement indisponible{% endblock %}

{% block error_description %}
    Le service est temporairement indisponible en raison d'une maintenance programmée 
    ou d'une surcharge du serveur. Veuillez réessayer dans quelques minutes.
{% endblock %}

{% block error_actions %}
    <a href="{{ path('app_tickets_index') }}" class="btn btn-primary">Retour à l'accueil</a>
    <a href="javascript:location.reload()" class="btn">Réessayer</a>
{% endblock %}
