/* ==========================================================================
   CONFIG GENERAL
   ========================================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face{
    font-family: 'Kwark';
    src: url('/assets/fonts/Kwark.ttf');
}

:root {
    /* ========== BASE COLORS ========== */
    --color-black: #0a0a0a;
    --color-white: #ffffff;
    --color-green: #008000;
  
  
    /* ========== THEME COLORS ========== */
    --color-primary: var(--color-green-500);
    --color-primary-dark: var(--color-green-700);
    --color-primary-light: var(--color-green-300);
  
    --color-secondary: #1f1f1f;
    --color-accent: #00ff88;
  
    /* Text */
    --color-text-light: #f5f5f5;
    --color-text-dark: #0a0a0a;
  
    /* Backgrounds */
    --bg-dark: var(--color-black);
    --bg-light: var(--color-white);
    --bg-primary: var(--color-green-900);
    --bg-secondary: var(--color-green-800);
  
    /* Borders & Shadows */
    --border-radius: 6px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  
    /* Transitions */
    --transition-fast: 0.2s ease-in-out;
    --transition-normal: 0.4s ease-in-out;
  }
  

/* ==========================================================================
   HEADER
   ========================================================================== */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-black);
    height: 15vh;
    font-family: 'Roboto';
}

h1{
    font-family: 'Kwark';
    color: var(--color-green);
    font-size: 3rem;
    
}

h1 > em{
    font-family: 'Kwark';
    font-size: 2.3rem;
}

header > nav{
    
    > ul{
        display: flex;
        gap: 1rem;
        list-style: none;
        > li{
            color: white;
            > a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
}


