<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BTCrack{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <h1>BT<em>Crack</em></h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">New Ticket</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
