{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block body %}
    <section class="form-section">
        <h1>Change your password</h1>
        
        {{ include('users/_password_form.html.twig', {'button_label': 'Change password'}) }}
        
        <div class="form-actions mt-4">
            <a class="btn btn-secondary" href="{{ path('app_users_show', {'id': user.id}) }}">Back to profile</a>
            <a class="btn btn-info" href="{{ path('app_users_profile_edit', {'id': user.id}) }}">Edit profile</a>
        </div>
    </section>
{% endblock %}
