{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_users_show', {'id': user.id}) }}">Back to Profile</a>
{% endblock %}  
