{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <section class="form-section">


    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}


    </section>
{% endblock %}  
