{% extends 'base.html.twig' %}

{% block title %}Edit your profile{% endblock %}

{% block body %}
    <section class="form-section">
        <h2>Edit your profile</h2>
        
        {{ include('users/_profile_form.html.twig', {'button_label': 'Update'}) }}
        
        <div class="form-actions mt-4">
            <a class="btn btn-secondary" href="{{ path('app_users_show', {'id': user.id}) }}">Back to profile</a>
            <a class="btn btn-warning" href="{{ path('app_users_change_password', {'id': user.id}) }}">Change password</a>
        </div>
    </section>
{% endblock %}
