{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<section class="form-section">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    
    {{ form_end(form) }}
</section>
{% endblock %}

{# {% block javascripts %}
    {{ parent() }}
{% endblock %} #}