{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <section class="form-section">
        {{ include('users/_form.html.twig') }}
        <a class="btn btn-secondary" href="{{ path('app_users_index') }}">Back to Home</a>
    </section>
{% endblock %}
