{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    

    <a href="{{ path('app_users_index') }}">back to list</a>

    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
